.gallery_grid {
	column-count: 3;
	max-width: 980px;
	width: 100%;
}

.gallery_img {
	height: auto;
	max-width: 100%;
	margin-bottom: 10px;
}

.gallery_img:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.5s;
	overflow: hidden;
}

@media (max-width: 800px) {
	.gallery_grid {
		column-count: 3;
	}
}

@media (max-width: 600px) {
	.gallery_grid {
		column-count: 2;
	}
}

@media (max-width: 400px) {
	.gallery_grid {
		column-count: 1;
	}
}

#image-viewer {
	/* display: none; */
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
	display: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 700px;
}
.modal-content {
	animation-name: zoom;
	animation-duration: 0.6s;
}
@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
#image-viewer .close {
	position: absolute;
	top: 15%;
	right: 15px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}
